.DS_Store
node_modules
.vagrant
/ElasticStack_CDC_nutrition_exercise_patterns/Ingest-Scripts-Python/LLCP2013.ASC
**/.venv*
/ElasticStack_nyc_traffic_accidents/nyc_collision_data.csv
/ElasticStack_twitter/twitter_logstash.conf.local
*.idea*
/ElasticStack_usfec/Scripts-Python+Logstash/data/
/packetbeat_dns_tunnel_detection/dns-tunnel-iodine-timeshifted.pcap
/dallas_crime_linking_with_graph/
