## See variables.tf for descriptions

project_name = "magical-ece-ansible-and-terraform-mystery-tour"

trusted_network = "<your ip>/32"

## AWS provider settings
aws_access_key = "<your key>"
aws_secret_key = "<your secret>"
#aws_region = "us-east-1"
#public_key = "~/.ssh/id_rsa.pub"
#private_key = "~/.ssh/id_rsa"
