[mysqld]
log-output  = FILE
log_error = /var/log/mysql/error.log
general_log_file = /var/log/mysql/mysql.log
general_log = 1
slow_query_log  = 1
slow_query_log_file=/var/log/mysql/mysql-slow.log.log
long_query_time = 1
log_queries_not_using_indexes = 1
log_slow_admin_statements = 1