# Please:
## * use version pinning
## * version pin to a major or minor version but not to a patch version (when possible)
## * keep things organized and clear (sort alphabetically within each category)
## * put common dependencies here
## * use in-notebook `%pip install x` for one-off needs

# core
ipywidgets==7.6.*
jupyterlab==2.2.*
pip==21.*
psutil==5.8.*
wheel==0.35.*

# non-core
## misc
tqdm==4.38.*

## search
elasticsearch==7.10.*

## data science
git+git://github.com/flairNLP/flair@1843c4a#egg=flair
matplotlib==3.2.*
scikit-learn==0.23.*
scikit-optimize==0.8.*
syntok==1.3.*
spacy==3.0.*
transformers[torch]==4.2.*
